<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Owner Form</title>
</head>
<body>
<form th:action="@{/owners/saveOwner}" method="post" th:object="${owner}">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>
                <input type="text" th:field="*{surname}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Owner">
            </td>
        </tr>
    </table>
</form>
</body>
</html>