<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index HTML</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Index page</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Update</th>
            <td>Delete</td>
        </tr>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.surname}"></td>
            <td>
                <a th:href="@{/owners/updateForm(id=${owner.id})}">Update</a>
            </td>
            <td>
                <a th:href="@{/owners/delete(id=${owner.id})}">Delete</a>
            </td>
        </tr>
    </table>

    <div th:if="${message != null}">
        <p th:text="${message}" style="color: blue"></p>
    </div>

    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>